*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container
{
  position: relative;
  height: 119.8rem;
  width: 100%;
  background-color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  padding: 7.8rem 0 0 25rem;
}

.about-container > .about
{
  height: 28rem;
  width: 67rem;
  /* background-color: aquamarine; */
  /* border: 1px solid; */
}

.about-container > hr
{
  border-color: blue;
  margin: 28rem 0 0 -25rem;
  position: absolute;
  width: 110rem;
}

.about-container > .content1
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
 
}

.about-container > .content1 h1
{
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.about-container > .content1 p
{
  font-size: 1.3rem;
}

.about-container > .content2
{
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4rem;
}

.about-container > .content2 span
{
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: 1px solid black;
}

.about-container > .content2 h3
{
  font-size: 3rem;
  /* margin: -5rem 0 0 0; */
}

.about-container > .content2 p
{
  font-size: 1.2rem;
}
.about-imgz
{
  position: absolute;
  height: 60rem;
  width: 100%;
  background-color: transparent;
  margin: 52rem -25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about-imgz hr
{
  border-color: blue;
  width: 80%;
  margin: -20rem 0 10rem 0;
  position: absolute;
  z-index: 1;
}
.about-imgz .imgA
{
  height: 30rem;
  width: 23rem;
  background-color: rgb(0, 26, 41);
  z-index: 2;
}
.about-imgz .imgB
{
  height: 50rem;
  width: 30rem;
  background-color: rgb(0, 26, 41);
  z-index: 2;
}




















